@model ProductListViewModel
@{
    ViewData["Title"] = "List";
}

<div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="1" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="carousel-item">
            <img class="d-block img-fluid" src="~/img/STORM_Watchshop_Omie_900x350_opt.jpg" alt="slide 01">
        </div>
        <div class="carousel-item active">
            <img class="d-block img-fluid" src="~/img/11d4871cb2d06cf020282f05ac1b4027.png" alt="slide 02">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="~/img/AdobeStock_62581309-1-900x350.jpeg" alt="slide 03">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="~/img/alpaca_slipper_banner.jpg" alt="slide 04">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="~/img/shopkeeper.jpg" alt="slide 05">
        </div>
        <div class="carousel-item">
            <img class="d-block img-fluid" src="~/img//ZPmIilgIFxmT-qsba7y4WZAQA.jpg" alt="slide 06">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    @foreach (var item in Model.Products)
    {
        <div class="col-lg-4 col-md-6 mb-4">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="@item.Image" alt="@item.Name" title="@item.Name"></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a href="#">@item.Name</a>
                    </h4>
                    <h5>@item.Price.ToString("c")</h5>
                    <p class="card-text">@item.Description</p>
                </div>
                <div class="card-footer">
                    <form id="@item.ProductId" asp-action="AddToCart"
                          asp-controller="Cart" method="post">
                        <input type="hidden" name="productId" value="@item.ProductId" />
                        <input type="hidden" name="returnUrl"
                               value="" />
                        <button type="submit"
                                class="btn btn-success btn-sm pull-right" style="float:right">
                            Add To Cart
                        </button>

                    </form>
                </div>
            </div>
        </div>
    }
</div>

<div page-model="@Model.PagingInfo" page-action="List" page-classes-enabled="true"
     page-class="btn" page-class-normal="btn-secondary"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1">
</div>

@*<div class="btn-group pull-right m-1">
    @for (int i = 1; i <= Model.PagingInfo.TotalPages; i++)
    {
        var className = i == Model.PagingInfo.CurrentPage ? "btn-primary" : "btn-secondary";
        <a class="btn @className" asp-action="List" asp-route-pageNumber="@i">@i</a>
    }
</div>*@